* {
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body {
    width: 100%;
    height: 100%;
    min-width: 740px !important;
    min-height: 540px !important;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, rgb(34, 173, 194), rgb(42, 194, 135));
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-container {
    width: 740px;
    height: 550px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #c9d2cf, #cfd7d9);
    box-shadow: 0 0 8px #546c9c;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.wrap {
    width: 400px;
    height: 550px;
    border-radius: 5px;
    border: 1px solid #0c889a;
    background-color: #79aaac;
    box-shadow: 0 0 8px #546c9c;
    color: #ffffff;
}


.input-control-label-left {
    width: 75px;
    text-align-last: justify;
}

.login-wrap {
    position: relative;
}

.title {
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}

.input-control-label-left {
    color: #666666;
}
.input-control {
    width: 75%;
    margin: 60px auto 0;
}

.tip {
    position: absolute;
    display: inline-block;
    right: 20px;
    top: -18px;
    font-size: 12px;
}

.btn {
    display: block;
    margin: 50px auto 0;
}

.login-state {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -30px;
}

.register.register {
    margin: 70px auto 0;
}
