.title {
    margin-top: 50px;
}

.register-wrap {
    position: relative;
}

.input-control {
    margin: 30px auto 0;
}

.register-state {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -30px;
    display: none;
}

.btn {
    margin: 40px auto 0;
}

.tip {
    display: none;
}
.modal {
    color: #000000;
}
.modal .modal-content .btn {
    margin: 0;
    display: inline-block;
}